# Binaries for programs and plugins
main
vompositor
*.exe
*.exe~
*.so
*.dylib
*.dll
xdg-shell-protocol.h

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
